@tailwind base;
@tailwind components;
@tailwind utilities;

main, body {
    background-color: rgb(var(--background-rgb));
}

p a {
    text-decoration: none;
    border-bottom: 1px dashed;
}

header {
    margin-bottom: 20px;
}

.logo-text.dark {
    text-shadow: var(--neon-text);
}

.logo-text.light {
    text-shadow: var(--neon-blue-text);
}


footer {
    background-color: rgb(var(--light-background-rgb));
}

footer p {
    width: 50%;
    margin-top: 1.1em;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 1.1em;
}


.horiline {
    width: 80%;
    height: 1px;
    background: rgb(var(--highlight-rgb));
}

.horiline-dark {
    width: 80%;
    height: 1px;
    background: black;
}


.custom-underline {
    position: relative;
}

.custom-underline:after {
    content: '';
    position: absolute;
    top: calc(100% + .15em);
    left: 0;
    width: 80%;
    height: 2px;
    background: rgb(var(--highlight-rgb));
}