.leaflet-container {
    height: 100%;
    width: 100%;
    background: none !important;
}

#map {
    position: relative;
    width: 100%;

    background-color: #D0CFD3;
    /* background-image: url("/assets/diaglines2.png"); */
    background-size: 64px;

    z-index: 0;
}

#map > svg {
    height: 100%;
    max-width: 100%;

    margin: auto;
}